@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-on-surface bg-surface;
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: middle;
  }

  .glass-panel {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .glass-card {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .bg-mesh {
    background-color: #00236f;
    background-image: 
        radial-gradient(at 0% 0%, #1e3a8a 0px, transparent 50%),
        radial-gradient(at 100% 0%, #4059aa 0px, transparent 50%),
        radial-gradient(at 100% 100%, #1e3a8a 0px, transparent 50%),
        radial-gradient(at 0% 100%, #00164e 0px, transparent 50%);
  }

  .sidebar-active {
    border-left-width: 4px;
  }
}

